attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
cvat_sdk==2.32.0
future==1.0.0
idna==3.10
packaging==24.2
pillow==11.2.1
platformdirs==4.3.7
python-dateutil==2.9.0.post0
requests==2.32.3
setuptools==78.1.0
six==1.17.0
tinydb==4.8.2
tqdm==4.67.1
tuspy==0.2.5
typing_extensions==4.13.2
urllib3==2.4.0
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
cvat_sdk==2.32.0
future==1.0.0
idna==3.10
numpy==2.2.5
packaging==24.2
pillow==11.2.1
platformdirs==4.3.7
python-dateutil==2.9.0.post0
requests==2.32.3
setuptools==78.1.0
six==1.17.0
tinydb==4.8.2
tqdm==4.67.1
tuspy==0.2.5
typing_extensions==4.13.2
urllib3==2.4.0
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
cvat_sdk==2.32.0
future==1.0.0
idna==3.10
numpy==2.2.5
opencv-python==4.11.0.86
packaging==24.2
pillow==11.2.1
platformdirs==4.3.7
python-dateutil==2.9.0.post0
requests==2.32.3
setuptools==78.1.0
six==1.17.0
tinydb==4.8.2
tqdm==4.67.1
tuspy==0.2.5
typing_extensions==4.13.2
urllib3==2.4.0
